<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div 
      class="container"
      >
        <div 
        class="titolo-contenitore"
        >
        <h1 
        class="titolo"
        >
        Request Header Parser Microservice
        </h1>
      </div>

        <h2>Esempio di input:</h2>
        <p>
          <a href="api/whoami">[base url]/api/whoami</a>
        </p>

        <h2>Esempio di output:</h2>
        <p>
          <code>{ <br \>
            "ipaddress": "::1", <br \>
            "lingua": "it-IT,it;q=0.9,en-US;q=0.8,en;q=0.7,de;q=0.6,es;q=0.5,fr;q=0.4", <br \>
            "software": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36", <br \>
            "metodo": "GET", <br \>
            "protocollo": "http" <br \>
          }</code>
        </p>
      </div>
      <div class="footer">
        <p>
          Made with 🍅 by <a href="https://www.scratchtodispatch.sbs/">Stefano</a>
        </p>
      </div>
   </body>


</html>
